/*  JuanMa W3 Change It UP */

body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF;
}
.site-footer {
    background-image: linear-gradient(#336B87, #90afc5);
    padding: 20px 0;
}
.jumbotron {
    margin:0;
    padding: 10px;
    background-image: linear-gradient(to right, #2a3132, #336B87, #90afc5);
    color: white;
}

.row-content {
    padding: 30px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.row-content-no-border {
    border-bottom: none;
}
.red{
    color:red;
}
.green{
    color:green;
}
.navbar,
.btn-info{
    background: #763626;
}
/* .tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
} */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

/* .carousel {
    border: solid #5637DD;
} */
a, a:hover {
    color: inherit;
    text-decoration: none;
}
.container{
    max-width:1920px;
}
.jm-no-padding{
    padding:0;
    position:relative;
}
.btn-link{
    color:#ffffff;
}

@media (min-width: 768px) {
.jm-floating-card{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
    width: 100%;
}
.carousel-caption {
    bottom: 50%;
}

}